body{
    font-family: sans-serif;
    margin: 0%;
}

#nav{
    width: 100%;
    border: 1px solid rgb(126, 107, 107);
    position: fixed;
    display: flex;
    background-color: white;
}

 #box{
    display: flex;
    width: 50%;
    margin: auto;;
}
#ytdiv{
    height: 60px;
    width: 100px;
    display: flex;
}
#yt{
    display: flex;
    color: red;
    font-size: 32px;
    margin-left: 20px ;
    margin-top: 13px;
}
#lin{
    font-size: 25px;
    margin-left: 32px;
    margin-top: 15px;   
}
#microphone{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 8px; 

}
#fa-bell{
    display: flex;
}
#fa-belll{
    font-size: 30px;
    margin-right: 30px;
    margin-top: 14px;   
}
#user-circle{
    font-size: 30px;
    margin-top: 14px;  
    margin-right: 20px;
}


#search{
    width: 550px;
    height: 40px;
    border-color: rgb(236, 220, 220);
    border-radius: 3px;
    font-size: 20px;
}
#submit{
    height: 38px;
    width: 60px;
    border-radius: 3px;
    border-color: rgb(236, 220, 220);
}